@mixin debug {
  border: 1px solid black;
}

@mixin center {
  width: 70%;
  height: 100%;
  margin: auto;
}

@mixin lowFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mediumFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

@mixin stBtn {
  padding: 9px 20px;
  background-color: #1d8483;
  border: 0px;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin sdBtn {
  padding: 7px 20px;
  background-color: transparent;
  border: 2px solid #1d8483;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

@mixin darkBtn {
  padding: 10px 20px;
  background-color: #121117;
  border: 3px solid rgba(29, 132, 131, 0.7);
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
}
